[submodule "Movie_Recommendation_System"]
	path = Movie_Recommendation_System
	url = https://github.com/XiyuanWu/Movie_Recommendation_System.git
[submodule "AI_Project"]
	path = AI_Project
	url = https://github.com/XiyuanWu/AI_Project.git
[submodule "Web_Crawler"]
	path = Web_Crawler
	url = https://github.com/XiyuanWu/Web_Crawler.git
[submodule "EventConnect"]
	path = EventConnect
	url = https://github.com/XiyuanWu/EventConnect.git
[submodule "CardSense_Web"]
	path = CardSense_Web
	url = https://github.com/XiyuanWu/CardSense_Web.git
